body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;  /* Add padding to the left and right */
     
}


/* Header styles */
.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header, .intro, .center, .quotesection, .signup, .footer {
    width: 100%; /* Make the sections take full width of the container */

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .link {
    margin-left: 10px;
}

.intro img, .center img {
    width: 100%;
    height: auto;
    display: block;
}

.imagedescription {
    text-align: center;
    margin-top: 10px;
}

.intro {
    background-color: #1F2937;
    color: white;
    display: flex;
}

.signup button {
    color: #3882F6;
}

.signup {
    background-color: #3882F6;
}

.intro img, .center img {
    width: 100%;
    height: auto;
    display: block;
}

.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Add space between the images */
}

.image-container {
    flex: 1 1 150px;
    max-width: 150px;
    text-align: center;
}

.center img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.imagedescription {
    text-align: center;
    margin-top: 10px;
}
